.specialty-list {
    list-style-type: none;
    padding: 0;
}

.specialty-list li {
    background: #f9f9f9;
    margin: 10px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.specialty-content {
    display: flex;
    align-items: center;
    flex: 1;
    margin-right: 20px;
}

.specialty-content img {
    margin-right: 20px;
}

.specialty-content div {
    display: flex;
    flex-direction: column;
}

.specialty-content p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Số dòng tối đa */
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 4.5em; /* Giới hạn chiều cao tối đa */
    line-height: 1.5em; /* Chiều cao dòng */
}

.specialty-list h3 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.specialty-list p {
    margin: 10px 0;
    color: #666;
}

.button-container {
    display: flex;
    gap: 10px; /* Khoảng cách giữa các nút */
}

.specialty-list button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    min-width: 100px; /* Đảm bảo nút có kích thước tối thiểu */
}

.specialty-list button:hover {
    background-color: #0056b3;
}

.specialty-list .delete-button {
    background-color: #dc3545;
}

.specialty-list .delete-button:hover {
    background-color: #c82333;
}

/* Form styling */
.specialty-form {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.specialty-form h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.specialty-form input,
.specialty-form textarea,
.specialty-form select {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.specialty-form button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.specialty-form button:hover {
    background-color: #0056b3;
}

.specialty-form img {
    display: block;
    margin-top: 10px;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
